.latest {
  padding: 22px 190px 20px;
  text-align: center;
  margin-bottom: 60px;

  & .latest_heading {
    @include sec-heading;
  }

  & .latest_nav {
    display: flex;
    justify-content: space-between;
    max-width: 413px;
    margin: 0 auto 70px;

    & li {
      list-style: none;
      & a {
        text-decoration: none;
        font-family: "Roboto Slab", serif;
        font-size: 16px;
        color: #555555;
        transition: color 0.5s;

        &:hover {
          color: #c0301c;
        }
      }
    }
  }
}

.latest_gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  & .latest_gallery-items {
      position: relative;
      width: 300px;
      height: 260px;
    object-fit: cover;
    margin-bottom: 30px;
    & img {
      height: inherit;
      width: inherit;
    }

    &:hover .gallery_detail{
        opacity: 65%;
    }
  }
}

.gallery_detail {
  color: whitesmoke;
  padding: 20px 30px 30px;
  height: inherit;
  width: inherit;
  box-sizing: border-box;
  background-color: #c0301c;
  position: absolute;
  transition: opacity 0.5s;
  top: 0;
  left: 0;
  opacity: 0;

  & .detail-heading {
    font-size: 18px;
  }

  & .detail-note{
      font-family: "Roboto Slab", serif;
      font-size: 12px;
  }

  & .detail-button{
      font-family: "Roboto Slab", serif;
      font-size: 14px;
      outline: none;
      background-color: white;
      color: #c0301c;
      padding: 15px 20px;
      border: none;
      cursor: pointer;
      
  }
}
